* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto',sans-serif;
}
.container {
    width: 1170px;
    margin: 0 auto;
}
.header {
    height: 80px;
    padding: 25px 0;
}
.header_wrapper {
    display: flex;
    justify-content: start;
    align-items: center;
}
.header_logo {
    font-family: 'Raleway', sans-serif;
    Font-size: 26px;
    text-decoration: none;
    color: black;
}
.header_logo>span {
    color: #2196F3;
}
.header_lists {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin: 0 331px 0 93px;
    width: 294px;
}
.header_list__link {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #212121;
    text-decoration: none;
}
.header_list__link:hover {
    color: #2196F3;
}
.header_contacts__email {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #757575;
    text-decoration: none;
    margin-right: 50px;
}
.header_contacts__email:hover, .header_contacts__phone:hover {
    color: #2196F3;  
}

.header_contacts__phone {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #757575;
    text-decoration: none;
}
.banner {
    background-color: #2F303A;
    min-height: 600px;
    padding: 200px;
}
.banner_title {
    display: block;
    margin: 0 auto;
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;   
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
    width: 696px;
}
.banner_button {
    display: block;
    margin: 0 auto;
    margin-top: 30px;
    width: 200px;
    height: 50px;
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: pointer;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    color: #FFFFFF;
}
.peculiarities {
    padding: 94px 0;
}
.peculiarities_lists {
    display: flex;
    justify-content: space-between;
    align-items: start;
    list-style-type: none;
    
}
.peculiarities_list {
    width: 270px;
}
.peculiarities_list__title {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
}
.peculiarities_list__descr {
    margin-top: 10px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #757575;
}
.doing_title {
    margin: 0 auto;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}
.doing_images {
    margin-top: 50px;
    margin-bottom: 94px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.doing_img {
    width: 370px;
}
.team {
    min-height: 648px;
    background: #F5F4FA;
    padding: 94px 0;
}
.team_title {
    margin: 0 auto;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}
.team_items {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}
.team_item {
    width: 270px;
    height: 368px;
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}
.team_item__img {
    width: 270px;
}
.team_item__title {
    margin-top: 30px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}
.team_item__subtitle {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #757575;
    margin-top: 10px;
}

